<%- include ("partials/header") -%>



<div class="container-fluid row holder-tabla">
    <div class="col-lg-7 col-md-12 px-4 py-3">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Código</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="border-right border-left border-bottom">
                <% for( let i = 0; i < data.length; i++ ) { %>
                <tr>
                    <td class="align-middle" scope="row"><%= data[i].id %></td>
                    <td class="align-middle"><%= data[i].code %></td>
                    <td class="align-middle"><%= data[i].descr %></td>
                    <td class="align-middle"><%= data[i].quant %></td>
                    <td class="align-middle">
                        <a href="/edit/<%= data[i].id %>"><button class="btn btn-primary">EDITAR</button></a>
                        <a href="/delete/<%= data[i].id %>"><button class="btn btn-danger"">ELIMINAR</button></a>
                    </td>
                </tr>
                <% } %>

            </tbody>
        </table>
        <p>Total de productos: <%= data.length %> </p>
    </div>

    <div class=" col-lg-5 col-md-12 py-3">
        <div class="card">
            <div class="card-body">
                <form action="/add" method="POST">
                    <div class="form-group">
                        <label for="codeProducto" class="font-weight-bold">Código del producto:
                        </label>
                        <input type="text" name="codeProducto"" class=" form-control"
                            placeholder="069420">
                    </div>

                    <div class="form-group">
                        <label for="descProducto" class="font-weight-bold">Descripción: </label>
                        <input type="text" name="descProducto" class="form-control"
                            placeholder="Vigas del Titanic">
                    </div>

                    <div class="form-group">
                        <label for="cantProducto" class="font-weight-bold">Cantidad del
                            Producto: </label>
                        <input type="number" name="cantProducto" placeholder="10"
                            class="form-control" min="1">
                    </div>
                    <input type="submit" value="AGREGAR PRODUCTO" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/js/validNewItem.js"></script>
<%- include ("partials/footer") -%>