<%- include ("partials/header") %> 

<main id="contenedorVentas">
    <h2>ventas</h2>

    <div class="nueva-venta">
        <h4>Añadir nueva venta</h4>

        <form action="/ventas" method="POST">
            <div class="form-row">
                <div class="col-2">
                    <input type="date" name="date" class="form-control" max="<%=maxDate%>" value="<%=maxDate%>">
                </div>
                <div class="col-4">
                    <select name="prodCode" class="form-select" id="">
                        <% for( let i= 0; i < data.length; i++ ) { %>
                            <option value=""><%= data[i].descr %></option> 
                        <% } %>
                    </select>
                </div>
                <div class="col-2">
                    <input type="number" name="quant" min="1" class="form-control" placeholder="CANTIDAD">
                </div>
                <div class="col-2">
                    <input type="number" name="prodPrice" class="form-control" placeholder="MONTO">
                </div>
                <div class="col">
                    <button class="btn btn-primary" onclick="addSale()">➕</button>
                </div>
                <input type="submit" value="AGREGAR TODO" class="btn btn-primary my-2">
            </div>
        </form>
    </div>

</main>
<script src="/js/userSales.js"></script>


<%- include ("partials/footer") %> 

